@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Сотрудники</h2>
    <p>Все сотрудники <!--<a href="https://docs.microsoft.com/aspnet/core">Ввод нового сотрудника</a>.--></p>
</div>
